<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
        <script src="/js/SearchScript.js"></script>
        <script src="/js/SortScript.js"></script>
        <script type="text/javascript">
            var project_id =Number(<%-JSON.stringify(project_id)%>);
            $(function () {
                addLink();
            });
            function addLink(){
                $(".projectRow").click(function () {
                    $(location).attr('href', `/profile?fromApply=true&project_id=${project_id}&user_id=${this.id}`);
                });
            }
            //this is used by sortscript for sorting purpose
            function afterSort(){
                addLink();
            }
        </script>
</head>

<body>

<% include ../template/nav.ejs %>
<div class="container body-layout">
    <div class="row margin-htop">
        <div class="col-sm-1">
            <h4>Search: </h4>
        </div>
        <div class="col-sm-5">
            <input type="text" class="input searchable"
                   placeholder="keyword, key words, key words"/>
        </div>
        <div class="col-sm-offset-4 col-sm-2">
            <a class="btn long-btn primary-button" href="/project/detail?id=<%=project_id%>">Back</a>
        </div>
    </div>
    <table class="table margin-htop sortable searchable">
        <thead class="row margin-top">
        <tr class="tr clickable">
            <th>Applicant Name</th>
            <th>E-mail</th>
            <th class="center">Has Project</th>
        </tr>
        </thead>
        <tbody id="projectTbody">
        <% if(users){ %>
            <% for (var i = 0; i < users.length; i++) { %>
                <tr class="tr clickable projectRow" id=<%= users[i].user_id %>>
                    <td class="td"><%= users[i].name %></td>
                    <td class="td"><%= users[i].email %></td>
                    <td class="td center"><%= users[i].has_project ? 'Yes' : 'No'%></td>
                </tr>
            <% } %>
        <% } else { %>
            <tr>
                <td class="error-msg">No applicants yet!</td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<% include ../template/footer.ejs %>
</body>
</html>