<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script type="text/javascript">
        var projectDetail = <%- JSON.stringify(projectDetail)%>;
        $(function(){
            $("#remove-confirmation").click(function () {
                $("#remove-confirmation-box").modal('show');
            });
            $("#remove-canceled").click(function(){
                $("#remove-confirmation-box").modal('hide');
            });
            $("#remove-confirmed").click(function () {
                $("#remove-confirmed").attr('disabled', true);
                $.ajax({
                    url: "/project/removeProject",
                    method: "POST",
                    dataType: "json",
                    data: {
                        pid: projectDetail.id,
                    },
                    success: function () {
                        window.location.href="/project?status=s";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#error-msg").html(jqXHR.responseJSON);
                        $("#remove-confirmation-box").modal('hide');
                        $("#remove-confirmed").attr('disabled', false);
                    }
                });
            });
            $("#apply-button").click(function () {
                window.location.href = `/profile?project_id=${projectDetail.id}&applying=true`;
            });

            $("#applicants-button").click(function () {
                window.location.href = `/project/applicants?project_id=${projectDetail.id}`;
            });

        });
    </script>
</head>

<body>
<% include ../template/nav.ejs %>

<div class="container body-layout">
    <% var isAuthorized = auth([role_list.Developer, role_list.ProjectManager, role_list.Admin], user_role); %>
    <% var isLeader = false; %>
    <% if (user_role) { %>
        <% if (user_role.filter(x => x.user_role === role_list.ProjectLeader).filter(x => x.associated_project_id === projectDetail.id).length > 0) { %>
                <% isLeader = true;%>
        <% } %>
    <% } %>
    <div align="right">
        <%if (isAuthorized) { %>
            <button id="remove-confirmation" class="btn primary-button">Remove</button>
        <% } %>
        <%if (isAuthorized || isLeader) { %>
            <a class="btn primary-button" href="/project/edit?id=<%= projectDetail.id%>">Edit</a>
        <% } %>
        <a class="btn primary-button" href="/project">Back</a>
    </div>
    <p class="error-msg" id="error-msg"></p>
    <div class="input-group new-project-input">
        <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Project Title:&nbsp;&nbsp;&nbsp;</div>
        <div class="form-control" type="text" id="title"><%= projectDetail.title %></div>
    </div>

    <div class="input-group new-project-input row">
        <div class="input-group-addon">Leaders:</div>
        <div class="form-control" type="text">
            <%= members.filter(e => e.user_role===role_list.ProjectLeader).map(e=>(e.name + " (" + e.email) + ")").join(", ")%>
        </div>
    </div>

    <% members.filter(e => e.user_role===role_list.ProjectMember).forEach(member => { %>
    <div class="input-group new-project-input row">
        <div class="input-group-addon">Members:</div>
        <div class="form-control" type="text">
            <%=member.name + " (" + member.email + ")"%>
        </div>
    </div>
    <%});%>

    <div class="input-group new-project-input row">
        <div class="input-group-addon">&nbsp;Project status: &nbsp;</div>
        <div class="form-control" type="text" id="status"><%= projectDetail.status %></div>
        <div class="input-group-addon">&nbsp;Creation time: &nbsp;</div>
        <div class="form-control" type="text" id="creation_time"><%= projectDetail.creation_time %></div>

    </div>

    <div class="input-group new-project-input">
        <div class="input-group-addon">Contact Information:</div>
        <div class="form-control" type="text" id="ontact"><%= projectDetail.contact %></div>
    </div>

    <div class="input-group new-project-input">
        <div class="input-group-addon">Organization Name:</div>
        <div class="form-control" type="text" id="org_name"><%= projectDetail.org_name %></div>
    </div>

    <% if (projectDetail.project_link) { %>
        <div class="input-group new-project-input">
            <div class="input-group-addon">Project Link:</div>
            <div class="form-control" type="text" id="link"><a href="<%= projectDetail.project_link %>"><%= projectDetail.project_link %></a></div>
        </div>
    <% } %>

    <div class="new-project-input">
        <textarea readonly class="form-control" type="text" id="description" rows="10"><%= projectDetail.description %></textarea>
    </div>

    <% if (projectDetail.video_link) { %>
        <iframe style="width: 100%; height: 700px" src="<%= projectDetail.video_link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% } %>

    <p class="error-msg" id="error-msg"></p>
    <% if (uid) { %>
        <% let auth_roles = [role_list.Admin, role_list.ProjectManager, role_list.Developer]; %>
        <% if (auth(auth_roles, user_role) || isLeader) { %>
            <button id="applicants-button" type="button" class="btn long-btn primary-button">See Applicants</button>
        <% } else if (projectDetail.applyable) { %>
            <% if (hasApplied) { %>
                <button id="apply-button" type="button" class="btn long-btn primary-button" disabled="true">Applied!</button>
            <% } else { %>
                <button id="apply-button" type="button" class="btn long-btn primary-button">Apply!</button>
            <% } %>
        <% } %>
    <% } %>

</div>

<div id="remove-confirmation-box" class="modal fade confirmation-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Remove Confirmation</p>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to permanently remove this project?</h4>
            </div>
            <div class="modal-footer">
                <button id="remove-confirmed" class="btn highPriority-button">Remove</button>
                <button id="remove-canceled" class="btn primary-button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<% include ../template/footer.ejs %>
</body>
</html>
