<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script type="text/javascript">
        var projectDetail = <%- JSON.stringify(projectDetail)%>;
        $(function(){
            $("#remove-confirmation").click(function () {
                $("#remove-confirmation-box").modal('show');
            });
            $("#remove-canceled").click(function(){
                $("#remove-confirmation-box").modal('hide');
            });
            $("#remove-confirmed").click(function () {
                $("#remove-confirmed").attr('disabled', true);
                $.ajax({
                    url: "/project/removeProject",
                    method: "POST",
                    dataType: "json",
                    data: {
                        id: projectDetail.id
                    },
                    success: function () {
                        window.location.href="/project?status=s";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#error-msg").html(jqXHR.responseJSON);
                        $("#remove-confirmation-box").modal('hide');
                        $("#remove-confirmed").attr('disabled', false);
                    }
                });
            });
        });
    </script>
</head>

<body>
<% include ../template/nav.ejs %>

<div class="container body-layout">
    <p class="error-msg" id="error-msg"></p>
    <div class="col-sm-8-offset" align="right">
        <%if (uid==1) { %>
        <button id="remove-confirmation" class="btn primary-button">Remove</button>
        <a class="btn primary-button" href="/project/edit?id=<%= projectDetail.id%>">Edit</a>
        <% } %>
        <a class="btn primary-button" href="/project">Back</a>
    </div>


    <div class="input-group new-project-input">
        <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Project Title:&nbsp;&nbsp;&nbsp;</div>
        <div class="form-control" type="text" id="title"><%= projectDetail.title %></div>
    </div>

    <div class="input-group new-project-input row">
        <div class="input-group-addon">Leaders:</div>
        <div class="form-control" type="text">
            <%= users.filter(e => e.relation=="Leader").map(e=>e.name).join(", ")%>
        </div>
        <div class="input-group-addon">Manager:</div>
        <div class="form-control" type="text">
            <%= users.filter(e => e.relation=="Manager").map(e=>e.name).join(", ")%>
        </div>
    </div>

    <div class="input-group new-project-input row">
        <div class="input-group-addon">Members:</div>
        <div class="form-control" type="text">
            <%= users.filter(e => e.relation=="Member").map(e=>e.name).join(", ")%>
        </div>
    </div>

    <% const others = users.filter(e => e.relation!="Member" && e.relation!="Manager" && e.relation!="Leader")%>
    <% if(others.length>0){ %>
    <div class="input-group new-project-input row">
        <div class="input-group-addon">Others:</div>
        <div class="form-control" type="text">
           <%= others.map(e=>e.name).join(", ")%>
        </div>
    </div>
    <%}%>

    <div class="input-group new-project-input row">
        <div class="input-group-addon">&nbsp;Project status: &nbsp;</div>
        <div class="form-control" type="text" id="status"><%= projectDetail.status %></div>
        <div class="input-group-addon">&nbsp;Creation time: &nbsp;</div>
        <div class="form-control" type="text" id="creation_time"><%= projectDetail.creation_time %></div>

    </div>

    <div class="input-group new-project-input">
        <div class="input-group-addon">Contact Information:</div>
        <div class="form-control" type="text" id="ontact"><%= projectDetail.contact %></div>
    </div>

    <div class="input-group new-project-input">
        <div class="input-group-addon">Organization Name:</div>
        <div class="form-control" type="text" id="org_name"><%= projectDetail.org_name %></div>
    </div>

    <div class="new-project-input">
        <textarea readonly class="form-control" type="text" id="description"
             rows="10"><%= projectDetail.description %></textarea>
    </div>
</div>

<div id="remove-confirmation-box" class="modal fade confirmation-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Remove Confirmation</p>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to permanently remove this project?</h4>
            </div>
            <div class="modal-footer">
                <button id="remove-confirmed" class="btn highPriority-button">Remove</button>
                <button id="remove-canceled" class="btn primary-button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<% include ../template/footer.ejs %>
</body>
</html>
