<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
        var data =<%-JSON.stringify(allUser)%>;
        var projectDetail = <%-JSON.stringify(projectDetail)%>;
        var roleList = <%-JSON.stringify(role_list)%>;
        function selectListFocus(){
            var list = $(".member-list").toArray();
            list.forEach(function (input) {
                $(input).click(function(){
                    input.value="";
                    $(input).attr("data-value","");
                    $(input).attr("id","");
                    $(input).trigger("change");
                });
            });
        }
        //TODO: $(  ).remove();
        function addMemberRow() {
            var currentRow = $('.member-list').length/2+1;
            var html = `<div class="input-group new-project-input row">\
                            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member ${currentRow}:&nbsp;&nbsp;&nbsp;</div>\
                            <select placeholder="Member Name" id="name${currentRow}" class="form-control member-list">\
                                <% allUser.forEach(function(userChoice){ %>\
                                <option id="<%= userChoice.id %>" value="<%= userChoice.id %>"><%= userChoice.name %> (<%= userChoice.email %>)</option>\
                                <% }) %>\
                            </select>\
                            <div class="input-group-addon">Member Role:</div>\
                            <select placeholder="Member Role" id="role${currentRow}" data-value="" class="form-control member-list">\
                                <option value=<%=role_list.ProjectMember%>>Member</option>\
                                <option value=<%=role_list.ProjectLeader%>>Leader</option>\
                            </select>\
                        </div>`;
            $('#member-input-space').append(html);
            $(".member-list").editableSelect({effects: 'slide'});
            $('#member-input-space').removeClass('hide');
            selectListFocus();
        }
        $(function () {
            addMemberRow();
            $('.member-list').editableSelect({effects: 'slide'});
            $('#member-input-space').removeClass('hide');
            selectListFocus();
            $('#add-member-button').click(function(){
                addMemberRow();
            });
            var statusHtml = "";
            for (var status in ProjectStatus) {
                statusHtml += "<option value=\"" + ProjectStatus[status] + "\">" + ProjectStatus[status] + "</option>";
            }
            $('#status').html(statusHtml);
            $("#submit-button").click(function () {
                $("#submit-button").attr('disabled',true);
                var validInput = true;
                $("#error-msg").html("");
                if (($("#title").val() == '') | ($("#description").val() == '') | ($("#contact").val() == '') | ($("#org_name").val() == '')) {
                    $("#error-msg").html('Please fill out all the fields');
                    validInput = false;
                }
                if($("#title").val().includes(",")){
                    $("#error-msg").html('Invalid title input, please do not add a comma');
                    validInput = false;
                }
                if($("#org_name").val().includes(",")){
                    $("#error-msg").html('Invalid organization name input, please do not add a comma');
                    validInput = false;
                }
                //collect team data
                var teamMembers = $(".member-list");
                var teams = [];
                for(var i=0;i<teamMembers.length;i+=2){
                    //data
                    var name = teamMembers[i].value;
                    var id = $(teamMembers[i]).attr("data-value");
                    var role = $(teamMembers[i+1]).attr("data-value");
                    //error checking variable
                    var duplicate = false;
                    var hasRole = role!=="";
                    var hasName = name!=="";
                    var hasId = id!=="";
                    var allEmpty = name==="" && role==="";
                    var hasAll = name!=="" && role!=="" && id!=="";
                    var badId = true;
                    var badRole = true;
                    if(!allEmpty) {
                        if (!hasRole) {
                            $("#error-msg").html('Please input a role for member ' + (i / 2 + 1));
                            validInput = false;
                        }
                        else if (!hasName) {
                            $("#error-msg").html('Please input valid name for member ' + (i / 2 + 1));
                            validInput = false;
                        }
                        else if (!hasId) {
                            $("#error-msg").html("Member " + (i / 2 + 1) + " is not a valid member, please check your spelling");
                            validInput = false;
                        }
                        else if (hasAll) {
                            data.forEach(function (people) {
                                if (people.id == id) {
                                    badId = false;
                                    teams.forEach(function (member) {
                                        if (member.id == id) {
                                            validInput = false;
                                            $("#error-msg").html("There are duplicate member, " + people.name + " please check your input");
                                        }
                                    });
                                    if (!duplicate) {
                                        let nameWithEmail = people.name + " (" + people.email + ")";
                                        if (nameWithEmail === name) {
                                            teams.push({id: id, user_role: role});
                                        }
                                    }
                                }
                            });
                            for(var key in roleList){
                                if(roleList[key] === role){
                                    badRole = false;
                                }
                            }
                            if (badId) {
                                $("#error-msg").html("Member " + (i / 2 + 1) + " is not a valid member, please double check");
                                validInput = false;
                            }
                            if(badRole){
                                $("#error-msg").html('Please select a valid role for member ' + (i / 2 + 1));
                                validInput = false;
                            }
                        }
                    }
                }
                if(validInput){
                    $.ajax({
                        url: "/project/saveProject",
                        method: "POST",
                        dataType: "json",
                        data: {
                            id: projectDetail.id,
                            title: $("#title").val(),
                            description: $("#description").val(),
                            contact: $("#contact").val(),
                            org_name: $("#org_name").val(),
                            status: $("#status").val(),
                            project_link: $("#project_link").val(),
                            video_link: $("#video_link").val(),
                            applyable: $("#applyable").val(),
                            team: teams
                        },
                        success: function (result) {
                            if(result.pid){
                                window.location.href = "/project/detail?status=s&id="+result.pid;
                            }
                            else{
                                window.location.href = "/project/detail?status=s&id=<%= projectDetail.id %>";
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#error-msg").html(jqXHR.responseJSON);
                            $("#submit-button").attr('disabled',false);
                        }
                    });
                }
                else{
                    $("#submit-button").attr('disabled',false);
                    return false;
                }
            });
            if(projectDetail.status)
                $("#status").val(projectDetail.status);
        });
    </script>
</head>
<body>

<% include ../template/nav.ejs %>
<div class="container body-layout">
    <div class="col-sm-8-offset" align="right">
        <%if(projectDetail.id){%>
            <a class="btn primary-button" href="/project/detail?id=<%=projectDetail.id%>">Back</a>
        <%}else{%>
            <a class="btn primary-button" href="/project">Back</a>
        <%}%>
    </div>
    <p class="error-msg" id="error-msg"></p>
    <div>
        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Project Title:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="title" placeholder="Project Title" value="<%=projectDetail.title%>">
        </div>
        <div class="input-group new-project-input row">
            <div class="input-group-addon">Team Members: </div>
            <div class="form-control ">
                <div class="col-sm-6 center divider-vertical">Name</div>
                <div class="col-sm-6 center">Member Role</div>
            </div>
            <div class="input-group-btn">
                <button type="button" id="add-member-button" class="btn primary-button">Add Members</button>
            </div>
        </div>
        <div id="member-input-space" class="hide">
            <!--member row goes here-->
            <% currentRow = 1; %>
            <% members.forEach(function(member){ %>
            <div class="input-group new-project-input row">
                <div class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Member <%=currentRow%>:&nbsp;&nbsp;&nbsp;</div>
                <select placeholder="Member Name" data-value="<%=member.uid%>" id="name<%=currentRow%>" class="form-control member-list">
                    <% allUser.forEach(function(userChoice){ %>
                    <option id="<%= userChoice.id %>" value="<%= userChoice.id %>"<% if(userChoice.id==member.uid){ %> selected="selected"<% }%>><%= userChoice.name %> (<%= userChoice.email %>)</option>
                    <% }) %>
                </select>
                <div class="input-group-addon">Member Role:</div>
                <select placeholder="Member Role" id="role<%=currentRow%>" data-value="<%=member.user_role%>" class="form-control member-list">
                    <option <%=(member.user_role==role_list.ProjectMember)?'selected':''%> value="<%=role_list.ProjectMember%>">Member</option>
                    <option <%=(member.user_role==role_list.ProjectLeader)?'selected':''%> value="<%=role_list.ProjectLeader%>">Leader</option>
                </select>
            </div>
            <% currentRow++; %>
            <% }) %>
        </div>
        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Project status: &nbsp;</div>
            <select value="" class="form-control" id="status">
                <!--status option goes here-->
            </select>
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Open to Apply: &nbsp;</div>
            <select class="form-control" id="applyable">
                <option <%= projectDetail.applyable ? '' : 'selected' %> value="false">No</option>
                <option <%= projectDetail.applyable ? 'selected' : '' %> value="true">Yes</option>
            </select>
        </div>
        
        <div class="input-group new-project-input">
            <div class="input-group-addon">Contact Information:</div>
            <input class="form-control" type="text" id="contact" placeholder="Contact Information" value="<%=projectDetail.contact%>">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">Organization Name:</div>
            <input class="form-control" type="text" id="org_name" placeholder="Organization Name" value="<%= projectDetail.org_name%>">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">Project Link:</div>
            <input class="form-control" type="text" id="project_link" placeholder="Project Link" value="<%= projectDetail.project_link %>">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">Project Youtube Link:</div>
            <input class="form-control" type="text" id="video_link" placeholder="Project Video Link" value="<%= projectDetail.video_link %>">
        </div>

        <div class="new-project-input">
            <textarea class="form-control" type="text" id="description" placeholder="Description" rows="10"><%=projectDetail.description%></textarea>
        </div>

    </div>
    <button id="submit-button" type="button" class="btn long-btn primary-button">Save</button>
</div>

<% include ../template/footer.ejs %>
</body>
</html>
