<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script type="text/javascript">

    </script>
</head>

<body>

<% include template/nav.ejs %>

<div class="container" style="margin: 150px auto;">
    <div class="col-sm-8-offset" align="right">
        <%if (uid==1) { %>
        <a class="btn primary-button" href="/project/edit?id=<%= projectDetail.id%>">Edit</a>
        <% } %>
        <a class="btn primary-button" href="/project">Back</a>
    </div>
    <div class="row img-center-holder">
        <h2><%= projectDetail.title %></h2>
    </div>
    <div class="row img-center-holder">
        <h4>NPO: <%= projectDetail.npo %></h4>
        <h4>Project Contact: <%= projectDetail.contact %></h4>
        <h4>Status: <%= projectDetail.status %></h4>
        <h4>Creation time: <%= projectDetail.creation_time %></h4>
        <% users.forEach(function(user){ %>
        <h4><%= user.name %></h4>
        <h4>Title: <%= user.relation %></h4>
        <% }); %>
    </div>
    <div class="row img-center-holder">
      <h4>Description: <%= projectDetail.description %></h4>
    </div>
</div>

<% include template/footer.ejs %>
</body>
</html>
