<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script type="text/javascript">

    </script>
</head>

<body>

<% include template/nav.ejs %>

<div class="container" style="margin: 150px auto;">
    <div class="col-sm-8-offset" align="right">
        <a class="btn primary-button" href="/project">Back</a>
    </div>


    <div class="input-group new-project-input">
        <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Project Title:&nbsp;&nbsp;&nbsp;</div>
        <div class="form-control" type="text" id="title"><%= projectDetail.title %></div>
    </div>

    <div class="input-group new-project-input row">
        <div class="input-group-addon">Leaders:</div>
        <div class="form-control" type="text">
            <% users.filter(e => e.relation=="Leader").forEach(function(user){ %>
            <%= user.name %>;
            <% }); %>
        </div>

    </div>

    <div class="input-group new-project-input row">
        <div class="input-group-addon">Members:</div>
        <div class="form-control" type="text">
            <% users.filter(e => e.relation=="Member").forEach(function(user){ %>
            <%= user.name %>;
            <% }); %>
        </div>

    </div>

    <div class="input-group new-project-input row">
        <div class="input-group-addon">&nbsp;Project status: &nbsp;</div>
        <div class="form-control" type="text" id="status"><%= projectDetail.status %></div>
        <div class="input-group-addon">&nbsp;Creation time: &nbsp;</div>
        <div class="form-control" type="text" id="creation_time"><%= projectDetail.creation_time %></div>

    </div>

    <div class="input-group new-project-input">
        <div class="input-group-addon">Contact Information:</div>
        <div class="form-control" type="text" id="ontact"><%= projectDetail.contact %></div>
    </div>

    <div class="input-group new-project-input">
        <div class="input-group-addon">Non-profit Organization Name:</div>
        <div class="form-control" type="text" id="npo"><%= projectDetail.npo %></div>
    </div>

    <div class="new-project-input">
        <textarea class="form-control" type="text" id="description"
             rows="10"><%= projectDetail.description %></textarea>
    </div>
</div>

<% include template/footer.ejs %>
</body>
</html>
