<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script type="text/javascript">
        var projectDetail = <%- JSON.stringify(projectDetail)%>;
        $(function(){
            $("#remove-confirmation").click(function () {
                $("#remove-confirmation-box").modal('show');
            });
            $("#remove-canceled").click(function(){
                $("#remove-confirmation-box").modal('hide');
            });
            $("#remove-confirmed").click(function () {
                $("#remove-confirmed").attr('disabled', true);
                $.ajax({
                    url: "/api/project/removeProject",
                    method: "POST",
                    dataType: "json",
                    data: {
                        id: projectDetail.id
                    },
                    success: function () {
                        window.location.href="/project";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#error-msg").html(jqXHR.responseJSON);
                        $("#remove-confirmation-box").modal('hide');
                        $("#remove-confirmed").attr('disabled', false);
                    }
                });
            });
        });
    </script>
</head>

<body>
<% include template/nav.ejs %>

<div class="container body-layout">
    <p class="error-msg" id="error-msg"></p>
    <div class="col-sm-8-offset" align="right">
        <%if (uid==1) { %>
        <button id="remove-confirmation" class="btn primary-button">Remove</button>
        <a class="btn primary-button" href="/project/edit?id=<%= projectDetail.id%>">Edit</a>
        <% } %>
        <a class="btn primary-button" href="/project">Back</a>
    </div>
    <div class="row img-center-holder">
        <h2><%= projectDetail.title %></h2>
    </div>
    <div class="row img-center-holder">
        <h4>NPO: <%= projectDetail.npo %></h4>
        <h4>Project Contact: <%= projectDetail.contact %></h4>
        <h4>Status: <%= projectDetail.status %></h4>
        <h4>Creation time: <%= projectDetail.creation_time %></h4>
        <% users.forEach(function(user){ %>
        <h4><%= user.name %></h4>
        <h4>Title: <%= user.relation %></h4>
        <% }); %>
    </div>
    <div class="row img-center-holder">
      <h4>Description: <%= projectDetail.description %></h4>
    </div>
</div>

<div id="remove-confirmation-box" class="modal fade confirmation-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Remove Confirmation</p>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to permanently remove this project?</h4>
            </div>
            <div class="modal-footer">
                <button id="remove-confirmed" class="btn highPriority-button">Remove</button>
                <button id="remove-canceled" class="btn primary-button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<% include template/footer.ejs %>
</body>
</html>
