<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
      var user =<%-JSON.stringify(user)%>;
      var project_id = Number(<%- JSON.stringify(project_id)%>);
      $(function () {  // can add a function right after this line to make the slider appear when check box is checked
        $("#submit-button").click(function () {
          $("#submit-button").attr('disabled',true);
          var profile = {
            nickname: "",
            year: -1,
            intended_teamleader: false,
            pl: [],
            // try pl = {Language: experience}?
            // or maybe keep the array and make each element a dictionary
            dev: [],
            description:""
          };

          profile.nickname = $("#nickname").val();
          profile.year = $("#year").val();
          profile.intended_teamleader = $("#teamleader").prop('checked');
          profile.description=$("#intro").val();
          if($(".pl-checkbox:checked").length > 0){
            $(".pl-checkbox:checked").each(function () {
              profile.pl.push($(this).val());
              // if we are going with making pl a dictionary:
              //TODO: show slider $(".slider").show().filter(matching slider)
              //profile.pl.($(this).val()) = slider's value
              
              //if we are keeping pl as an array and each thing inside array as indie dictionary:
              //TODO:show slider
              //profile.pl.push({
                //($(this).val()) : slider's value
              //})
            }).promise().done(function () {
              $(".dev-checkbox:checked").each(function () {
                profile.dev.push($(this).val());
              }).promise().done(function () {
                if ($("#resume")[0].files.length > 0) {
                  var file = $("#resume")[0].files[0];
                  var reader = new FileReader();
                  reader.readAsDataURL(file);
                  reader.onload = function () {
                    profile.resume = reader.result;
                    $.ajax({
                      url: "/upload_profile",
                      method: "POST",
                      dataType: "json",
                      data: profile,
                      success: function () {
                        window.location.href = "/profile?status=s";
                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                        $(".error-msg").html(jqXHR.responseJSON);
                        $("#submit-button").attr('disabled',false);
                      }
                    });
                  };
                  reader.onerror = function (error) {
                    console.log('Error: ', error);
                  };
                }
                else {
                  $.ajax({
                    url: "/upload_profile",
                    method: "POST",
                    dataType: "json",
                    data: profile,
                    success: function () {
                      window.location.href = "/profile?status=s";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                      $(".error-msg").html(jqXHR.responseJSON);
                      $("#submit-button").attr('disabled',false);
                    }
                  });
                }
              });
            });
          }
          else{
            $(".error-msg").html("Please fill in at least one programming language!");
            $("#submit-button").attr('disabled',false);
          }
        });
        var url;
        $("#confirmation").click(function () {
            url = "/project/approveApplicant";
            $("#box-info-text").text("approve");
            $("#box-info-title").text("Approve");
            $("#confirmation-box").modal('show'); 
        });
        $("#rejectConfirmation").click(function () {
            url = "/project/rejectApplicant";
            $("#box-info-text").text("reject");
            $("#box-info-title").text("Reject");
            $("#confirmation-box").modal('show');
        });
        $("#canceled").click(function(){
            $("#confirmation-box").modal('hide');
        });
        $("#confirmed").click(function () {
            $("#confirmed").attr('disabled', true);
            $.ajax({
                url: url,
                method: "POST",
                dataType: "json",
                data: {
                    user: user,
                    project_id: project_id
                },
                success: function () {
                    window.location.href = "/project/applicants?project_id="+project_id+"&status=s";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#error-msg").html(jqXHR.responseJSON);
                    $("#confirmation-box").modal('hide');
                    $("#confirmed").attr('disabled', false);
                }
            });
        });
      });
    </script>

</head>

<body>

<% include ../template/nav.ejs %>

<div class="container body-layout min-body-layout">
    <p class="error-msg" id="error-msg"></p>
    <div class="row">
      <h3 class="col-md-10">So tell us a bit about yourself!</h3>
      <% if (fromApply) { %>
        <div class="col-md-2">
          <a class="btn primary-button margin-15top" href="/project/applicants?project_id=<%=project_id%>">Back</a>
        </div>
      <% } %>
    </div>
    <form id="profile-form">
<!--        <div class="input-group login-signup-input">-->
<!--            <div class="input-group-addon">Nickname:</div>-->
<!--            <input class="form-control" type="text" id="nickname" placeholder="Nickname" value="<%=profile.nickname%>">-->
<!--        </div>-->
    <div class="input-group login-signup-input">
      <div class="input-group-addon">Name:</div>
      <input class="form-control" type="text" id="name" value="<%=user ? user.name : ''%>" disabled>
    </div>
    <div class="input-group login-signup-input">
      <div class="input-group-addon">Email:</div>
      <input class="form-control" type="text" id="email" value="<%=user ? user.email : ''%>" disabled>
    </div>
        <div class="input-group login-signup-input" >
            <div class="input-group-addon">Years:</div>
            <select class="form-control" id="year" <%= others ? 'disabled' : '' %>>
                <option value="1" <%=(profile.year==1)?'selected':''%>>Freshman</option>
                <option value="2" <%=(profile.year==2)?'selected':''%>>Sophomore</option>
                <option value="3" <%=(profile.year==3)?'selected':''%>>Junior</option>
                <option value="4" <%=(profile.year==4)?'selected':''%>>Senior</option>
                <option value="5" <%=(profile.year==5)?'selected':''%>>Super-senior (5th year)</option>
                <option value="6" <%=(profile.year==6)?'selected':''%>>Graduate or Above</option>
            </select>
        </div>
        <div class="login-signup-input">
            <p style="font-size:15px;">What programming languages are you familiar with?</p>
            <% var pl = profile.pl ? profile.pl : [] %>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" id="pl-java" value="pl-java" <%=pl.includes('\"pl-java\"') ? 'checked' : ''%>> Java <br>
            <!--TODO: bind slider to oncheck -->
            <!-- would be better to hide pre-made sliders-->
            <input type="range" min="0" max="5" value="0" class="slider" id="javaRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" id="pl-javascript" value="pl-javascript" <%=pl.includes('\"pl-javascript\"') ? 'checked' : ''%>> Javascript <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="jsRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" id="pl-c" value="pl-c" <%=pl.includes('\"pl-c\"') ? 'checked' : ''%>> C <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="cRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-cpp" <%=pl.includes('\"pl-cpp\"') ? 'checked' : ''%>> C++ <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="cppRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-csharp" <%=pl.includes('\"pl-csharp\"') ? 'checked' : ''%>> C# <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="cshRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-objectivec" <%=pl.includes('\"pl-objectivec\"') ? 'checked' : ''%>> Objective-C <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="objcRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-swift" <%=pl.includes('\"pl-swift\"') ? 'checked' : ''%>> Swift <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="swRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-python" <%=pl.includes('\"pl-python\"') ? 'checked' : ''%>> Python <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="pyRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-matlab" <%=pl.includes('\"pl-matlab\"') ? 'checked' : ''%>> Matlab <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="matRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-assembly" <%=pl.includes('\"pl-assembly\"') ? 'checked' : ''%>> Assembly <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="assRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-lisp" <%=pl.includes('\"pl-lisp\"') ? 'checked' : ''%>> LISP <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="lispRange"> <br>
        </div>
        <div class="login-signup-input" >
            <% var dev = profile.dev ? profile.dev : [] %>
            <p style="font-size:15px;">What kinds of development are you familiar with?</p>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-frontend" <%=dev.includes('\"dev-frontend\"') ? 'checked' : ''%>> Front End (Web) <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="fnRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-backend" <%=dev.includes('\"dev-backend\"') ? 'checked' : ''%>> Back End (Web) <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="bnRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-ios" <%=dev.includes('\"dev-ios\"') ? 'checked' : ''%>> IOS <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="iosRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-android" <%=dev.includes('\"dev-android\"') ? 'checked' : ''%>> Android <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="andrRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-windows" <%=dev.includes('\"dev-windows\"') ? 'checked' : ''%>> Windows Desktop Application <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="windowsRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-mac" <%=dev.includes('\"dev-mac\"') ? 'checked' : ''%>> Mac OS X Desktop Application <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="macRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-linux" <%=dev.includes('\"dev-linux\"') ? 'checked' : ''%>> Linux software <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="linuxRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-algorithm" <%=dev.includes('\"dev-algorithm\"') ? 'checked' : ''%>> Algorithm <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="algoRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-network" <%=dev.includes('\"dev-network\"') ? 'checked' : ''%>> Networking <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="netRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-ml" <%=dev.includes('\"dev-ml\"') ? 'checked' : ''%>> Machine Learning <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="mlRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-ds" <%=dev.includes('\"dev-ds\"') ? 'checked' : ''%>> Data Science <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="dsRange"> <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-communication" <%=dev.includes('\"dev-communication\"') ? 'checked' : ''%>> Communicate with people :) <br>
            <input type="range" min="0" max="5" value="0" class="slider" id="commRange"> <br>
        </div>
        <div class="login-signup-input" > 
          <p style="font-size:15px;">What else do you like to share with us?</p>
          <textarea <%= others ? 'disabled' : '' %> id="intro" placeholder="Any fun fact? expectation?" rows="4" cols="50"><%=profile ? profile.description : ''%></textarea>
          <br>
        </div>   
        <div class="login-signup-input">
            <br>
            <p>When developing softwares in team, there has to be a team leader who directs the development.</p>
            <input <%= others ? 'disabled' : '' %> type="checkbox" id="teamleader" <%=profile.intended_teamleader ? 'checked' : ''%>> Check this box if you want to be a team leader
            <br>
        </div>
    </form>
    <div class="login-signup-input" hidden>
        <br>
        <p>(Optional) Resume</p>
        <input type="file" id="resume">
    </div>

    <p class="error-msg" id="error-msg"></p>
    <% if (!others) { %>
        <button id="submit-button" class="btn long-btn primary-button">Update Profile</button>
    <% } %>

    <% if (fromApply) { %>
      <button id="confirmation" class="btn mid-btn primary-button">Approve</button>
      <button id="rejectConfirmation" class="btn mid-btn primary-button">Reject</button>
    <% } %>

    <div id="confirmation-box" class="modal fade confirmation-box">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <p class="modal-title"><span id="box-info-title"></span>&nbsp;Confirmation</p>
          </div>
          <div class="modal-body">
              <h4>Are you sure you want to <span id="box-info-text"></span>?</h4>
          </div>
          <div class="modal-footer">
              <button id="confirmed" class="btn highPriority-button">Yes</button>
              <button id="canceled" class="btn primary-button">No</button>
          </div>
        </div>
      </div>
    </div>
</div>

<% include ../template/footer.ejs %>
</body>
</html>