<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
      $(function () {
        $("#submit-button").click(function () {
          $("#submit-button").attr('disabled',true);
          var profile = {
            nickname: "",
            year: -1,
            intended_teamleader: false,
            pl: [],
            dev: []
          };

          profile.nickname = $("#nickname").val();
          profile.year = $("#year").val();
          profile.intended_teamleader = $("#teamleader").prop('checked');
          $(".pl-checkbox:checked").each(function () {
            $(".pl-checkbox").each(function () {
              if ($(this).val() && this.checked) {
                profile.pl.push($(this).val());
              }
            }).promise().done(function () {
              $(".dev-checkbox").each(function () {
                if ($(this).val() && this.checked) {
                  profile.dev.push($(this).val());
                }
              }).promise().done(function () {
                if ($("#resume")[0].files.length > 0) {
                  var file = $("#resume")[0].files[0];
                  var reader = new FileReader();
                  reader.readAsDataURL(file);
                  reader.onload = function () {
                    profile.resume = reader.result;
                    $.ajax({
                      url: "/upload_profile",
                      method: "POST",
                      dataType: "json",
                      data: profile,
                      success: function () {
                        window.location.href = "/profile?status=s";
                      },
                      error: function (jqXHR, textStatus, errorThrown) {
                        $("#error-msg").html(jqXHR.responseJSON);
                        $("#submit-button").attr('disabled',false);
                      }
                    });
                  };
                  reader.onerror = function (error) {
                    console.log('Error: ', error);
                  };
                }
                else {
                  $.ajax({
                    url: "/upload_profile",
                    method: "POST",
                    dataType: "json",
                    data: profile,
                    success: function () {
                      window.location.href = "/profile?status=s";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                      $("#error-msg").html(jqXHR.responseJSON);
                      $("#submit-button").attr('disabled',false);
                    }
                  });
                }
              });
            });
          });
        });
        $("#confirmation").click(function () {
                $("#confirmation-box").modal('show');
        });
        $("#canceled").click(function(){
            $("#confirmation-box").modal('hide');
        });
        $("#confirmed").click(function () {
            $("#confirmed").attr('disabled', true);
            $.ajax({
                url: "/project/removeProject",
                method: "POST",
                dataType: "json",
                data: {
                    pid: projectDetail.id,
                },
                success: function () {
                    window.location.href="/project?status=s";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#error-msg").html(jqXHR.responseJSON);
                    $("#confirmation-box").modal('hide');
                    $("#confirmed").attr('disabled', false);
                }
            });
        });
      });
    </script>

</head>

<body>

<% include ../template/nav.ejs %>

<div class="container body-layout min-body-layout">
    <h3>So tell us a bit about yourself!</h3>
    <form id="profile-form">
<!--        <div class="input-group login-signup-input">-->
<!--            <div class="input-group-addon">Nickname:</div>-->
<!--            <input class="form-control" type="text" id="nickname" placeholder="Nickname" value="<%=profile.nickname%>">-->
<!--        </div>-->
        <div class="input-group login-signup-input" >
            <div class="input-group-addon">Years:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <select class="form-control" id="year" <%= others ? 'disabled' : '' %>>
                <option value="1" <%=(profile.year==1)?'selected':''%>>Freshman</option>
                <option value="2" <%=(profile.year==2)?'selected':''%>>Sophomore</option>
                <option value="3" <%=(profile.year==3)?'selected':''%>>Junior</option>
                <option value="4" <%=(profile.year==4)?'selected':''%>>Senior</option>
                <option value="5" <%=(profile.year==5)?'selected':''%>>Super-senior (5th year)</option>
                <option value="6" <%=(profile.year==6)?'selected':''%>>Graduate or Above</option>
            </select>
        </div>
        <div class="login-signup-input">
            <p style="font-size:15px;">What programming languages are you familiar with?</p>
            <% var pl = profile.pl ? profile.pl : [] %>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" id="pl-java" value="pl-java" <%=pl.includes('\"pl-java\"') ? 'checked' : ''%>> Java <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" id="pl-javascript" value="pl-javascript" <%=pl.includes('\"pl-javascript\"') ? 'checked' : ''%>> Javascript <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" id="pl-c" value="pl-c" <%=pl.includes('\"pl-c\"') ? 'checked' : ''%>> C <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-cpp" <%=pl.includes('\"pl-cpp\"') ? 'checked' : ''%>> C++ <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-csharp" <%=pl.includes('\"pl-csharp\"') ? 'checked' : ''%>> C# <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-objectivec" <%=pl.includes('\"pl-objectivec\"') ? 'checked' : ''%>> Objective-C <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-swift" <%=pl.includes('\"pl-swift\"') ? 'checked' : ''%>> Swift <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-python" <%=pl.includes('\"pl-python\"') ? 'checked' : ''%>> Python <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-matlab" <%=pl.includes('\"pl-matlab\"') ? 'checked' : ''%>> Matlab <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-assembly" <%=pl.includes('\"pl-assembly\"') ? 'checked' : ''%>> Assembly <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="pl-checkbox" value="pl-lisp" <%=pl.includes('\"pl-lisp\"') ? 'checked' : ''%>> LISP <br>
        </div>
        <div class="login-signup-input" >
            <% var dev = profile.dev ? profile.dev : [] %>
            <p style="font-size:15px;">What kinds of development are you familiar with?</p>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-frontend" <%=dev.includes('\"dev-frontend\"') ? 'checked' : ''%>> Front End (Web) <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-backend" <%=dev.includes('\"dev-backend\"') ? 'checked' : ''%>> Back End (Web) <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-ios" <%=dev.includes('\"dev-ios\"') ? 'checked' : ''%>> IOS <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-android" <%=dev.includes('\"dev-android\"') ? 'checked' : ''%>> Android <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-windows" <%=dev.includes('\"dev-windows\"') ? 'checked' : ''%>> Windows Desktop Application <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-mac" <%=dev.includes('\"dev-mac\"') ? 'checked' : ''%>> Mac OS X Desktop Application <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-linux" <%=dev.includes('\"dev-linux\"') ? 'checked' : ''%>> Linux software <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-algorithm" <%=dev.includes('\"dev-algorithm\"') ? 'checked' : ''%>> Algorithm <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-network" <%=dev.includes('\"dev-network\"') ? 'checked' : ''%>> Networking <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-ml" <%=dev.includes('\"dev-ml\"') ? 'checked' : ''%>> Machine Learning <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-ds" <%=dev.includes('\"dev-ds\"') ? 'checked' : ''%>> Data Science <br>
            <input <%= others ? 'disabled' : '' %> type="checkbox" class="dev-checkbox" value="dev-communication" <%=dev.includes('\"dev-communication\"') ? 'checked' : ''%>> Communicate with people :) <br>
        </div>
        <div class="login-signup-input">
            <br>
            <p>When developing softwares in team, there has to be a team leader who directs the development.</p>
            <input <%= others ? 'disabled' : '' %> type="checkbox" id="teamleader" <%=profile.intended_teamleader ? 'checked' : ''%>> Check this box if you want to be a team leader
            <br>
        </div>
    </form>
    <div class="login-signup-input" hidden>
        <br>
        <p>(Optional) Resume</p>
        <input type="file" id="resume">
    </div>

    <% if (!others) { %>
        <button id="submit-button" class="btn long-btn primary-button">Update Profile</button>
    <% } %>

    <% if (fromApply) { %>
      <button id="confirmation" class="btn large-button primary-button">Approve</button>
      <button id="confirmation" class="btn large-button primary-button">Reject</button>
      <div id="confirmation-box" class="modal fade confirmation-box">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="modal-title">Approve</p>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to <span></span>?</h4>
            </div>
            <div class="modal-footer">
                <button id="confirmed" class="btn highPriority-button">Yes</button>
                <button id="canceled" class="btn primary-button">No</button>
            </div>
          </div>
        </div>
      </div>
    <% } %>
</div>

<% include ../template/footer.ejs %>
</body>
</html>