<!doctype html>
<html>

<head>
    <% include ../template/head.ejs %>
    <script>
        var user = <%- JSON.stringify(user) %>;
        var project_id = Number(<%- JSON.stringify(project_id) %>);
        var applying =<%- JSON.stringify(applying??"") %>;
        var fromApplicants =<%- JSON.stringify(fromApplicants??"") %>;
        <% var plskill = ["Java", "Javascript", "C", "C++", "C#", "Objective-C", "Swift", "Python", "Matlab", "Assembly", "LISP", "PHP", "SQL", "MongoDB"] %> 
        <% var devskill = ["React", "Angular", "React Native", "Express", "Django", "Flask", "UI design", "Databases", "QA/Automated Testing", "IOS", "Android", "Windows Desktop", "Mac OS Desktop", "Linux software", "Algorithm", "Networking", "Machine Learning", "Data Science", "Automation", "Communication"] %>
        $(function() {
            $(".skill-group").each((index, elem) => {
                var $checkbox = $(elem).find("input[type='checkbox']");
                var $slidebar = $(elem).find(".slider");
                if(!$checkbox.prop("checked")){
                    $slidebar.hide();
                }
                <% if (!others) {%>
                    $checkbox.click(() => $slidebar.toggle());
                <% } else { %>
                    $slidebar.prop("disabled", "true");
                <% } %>
            });

            <% if (!others) { %>
            $("#submit-button").click(function () {
                $("#submit-button").attr('disabled', true);
                var profile = {
                    nickname: "",
                    year: -1,
                    intended_teamleader: false,
                    pl: {},
                    dev: {},
                    reason: "",
                    project_id,
                    contribution: "",
                    time_for_project: 0,
                    interests: "",
                    active_participation: "",
                    description: "",
                    resume: "<%= profile.resume %>"
                };
                profile.nickname = $("#nickname").val();
                profile.year = $("#year").val();
                profile.description = $.trim($("#intro").val());

                var error = null;
                if (applying) {
                    profile.intended_teamleader = $("#teamleader").prop('checked');
                    profile.reason = $.trim($("#reason").val());
                    profile.time_for_project = $("#time_for_project").val();
                    profile.interests = $.trim($("#interests").val());
                    profile.contribution = $.trim($("#contribution").val());
                    profile.active_participation = $.trim($("#active_participation").val());
                    if (!$.isNumeric(profile.time_for_project))
                        error = "Please fill in the number of hours you will be able to commit for the project!";
                    else if (!profile.reason)
                        error = "Please fill in the reason you want to join this project";
                    else if (!profile.interests)
                        error = "Please fill in your interests to help us know you better";
                    else if (!profile.active_participation)
                        error = "Please fill in how you plan on being an active member of the project";
                }
                if (!error) {
                    $(".pl-group").each(function (index, elem) {
                        var $checkbox = $(elem).find("input[type='checkbox']");
                        if ($checkbox.prop("checked")) {
                            var dev = $checkbox.val();
                            var devlvl = $(elem).find(".slider").val();
                            profile.pl[dev] = devlvl;
                        }
                    }).promise().done(function () {
                        $(".dev-group").each(function (index, elem) {
                            var $checkbox = $(elem).find("input[type='checkbox']");
                            if ($checkbox.prop("checked")) {
                                var dev = $checkbox.val();
                                var devlvl = $(elem).find(".slider").val();
                                profile.dev[dev] = devlvl;
                            }
                        }).promise().done(function () {
                            if ($("#resume")[0].files.length > 0) {
                                var file = $("#resume")[0].files[0];
                                var reader = new FileReader();
                                reader.readAsDataURL(file);
                                reader.onload = function () {
                                    profile.resume = reader.result;
                                    $.ajax({
                                        url: applying ? "/project/applyProject" : "/upload_profile",
                                        method: "POST",
                                        dataType: "json",
                                        data: profile,
                                        success: function (result) {
                                            if(result.status){
                                                window.location.href = !applying ? "/profile?status=s" : `../project/detail?id=${project_id}&status=s`;
                                            }
                                            else {
                                                $(".error-msg").html(result.msg);
                                                setTimeout(() => {  
                                                    window.location.href = !applying ? "/profile?status=s" : `../project/detail?id=${project_id}`;
                                                }, 3000);
                                            }
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $(".error-msg").html(jqXHR.responseJSON);
                                            $("#submit-button").attr('disabled', false);
                                        }
                                    });
                                };
                                reader.onerror = function (error) {
                                    console.log(error);
                                    $("#submit-button").attr('disabled', false);
                                };
                            }
                            else{
                                $.ajax({
                                    url: applying ? "/project/applyProject" : "/upload_profile",
                                    method: "POST",
                                    dataType: "json",
                                    data: profile,
                                    success: function (result) {
                                        if(result.status){
                                            window.location.href = !applying ? "/profile?status=s" : `../project/detail?id=${project_id}&status=s`;
                                        }
                                        else {
                                            $(".error-msg").html(result.msg);
                                            setTimeout(() => {  
                                                window.location.href = !applying ? "/profile?status=s" : `../project/detail?id=${project_id}`;
                                            }, 3000);
                                        }
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $(".error-msg").html(jqXHR.responseJSON);
                                        $("#submit-button").attr('disabled', false);
                                    }
                                });
                            }
                        });
                    });
                }
                else {
                    $(".error-msg").html(error);
                    $("#submit-button").attr('disabled', false);
                }
            });
            <% } %>

            <% if (fromApplicants&&others&&project_id&&canApprove) { %>
                var url;
                $("#confirmation").click(function () {
                    url = "/project/approveApplicant";
                    $("#box-info-text").text("approve");
                    $("#box-info-title").text("Approve");
                    $("#confirmation-box").modal('show');
                });
                $("#rejectConfirmation").click(function () {
                    url = "/project/rejectApplicant";
                    $("#box-info-text").text("reject");
                    $("#box-info-title").text("Reject");
                    $("#confirmation-box").modal('show');
                });
                $("#canceled").click(function () {
                    $("#confirmation-box").modal('hide');
                });
                $("#confirmed").click(function () {
                    $("#confirmed").attr('disabled', true);
                    $.ajax({
                        url: url,
                        method: "POST",
                        dataType: "json",
                        data: {
                            user: user,
                            project_id: project_id
                        },
                        success: function () {
                            window.location.href = "/project/applicants?project_id=" + project_id + "&status=s";
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#error-msg").html(jqXHR.responseJSON);
                            $("#confirmation-box").modal('hide');
                            $("#confirmed").attr('disabled', false);
                        }
                    });
                });
            <% } %>

            $("#resume-frame").hide();
            $("#show-resume").click(() => $("#resume-frame").toggle());
        });
    </script>
</head>

<body>
    <% include ../template/nav.ejs %>
    <div class="container body-layout min-body-layout">
        <p class="error-msg" id="error-msg"> </p>
        <div class="row">
            <% if (!others) { %>
                <h3 class="col-md-10">So tell us a bit about yourself!</h3>
            <% } else { %>
                <h3 class="col-md-10">This is <%= user?user.name : "" %>'s profile!</h3>
            <% } %>
            <% if (fromApplicants) { %>
                <div class="col-md-2">
                    <a class="btn primary-button margin-15top"
                        href="/project/applicants?project_id=<%=project_id%>">Back</a>
                </div>
            <% } %>
        </div>
        <div id="profile-form" class="form-group">
            <!--<div class="input-group login-signup-input">-->
            <!--    <div class="input-group-addon">Nickname:</div>-->
            <!--    <input class="form-control" type="text" id="nickname" placeholder="Nickname" value="<%=profile.nickname%>">-->
            <!--</div>-->
            <div class="input-group login-signup-input">
                <label class="input-group-addon" for="name">Name:</label>
                <input class="form-control" type="text" id="name" value="<%=user?user.name: "" %>"
                readonly="readonly">
            </div>
            <div class="input-group login-signup-input">
                <label class="input-group-addon" or="email">Email:</label>
                <input class="form-control" type="text" id="email" value="<%=user ? user.email : ''%>" disabled>
            </div>
            <div class="input-group login-signup-input">
                <label class="input-group-addon" for="year">Year:</label>
                <select class="form-control" id="year" <%=others ? 'disabled' : '' %> >
                    <option value="1" <%=(profile.year==1)?'selected':''%> >Freshman</option>
                    <option value="2" <%=(profile.year==2)?'selected':''%> >Sophomore</option>
                    <option value="3" <%=(profile.year==3)?'selected':''%> >Junior</option>
                    <option value="4" <%=(profile.year==4)?'selected':''%> >Senior</option>
                    <option value="5" <%=(profile.year==5)?'selected':''%> >Super-senior (5th year)</option>
                    <option value="6" <%=(profile.year==6)?'selected':''%> >Graduate or Above</option>
                </select>
            </div>
            <div class="login-signup-input row">
                <% if(!others) { %>
                <p>(Optional) Resume</p>
                <input type="file" id="resume">
                <% } %>
                <% if(profile&&profile.resume) { %>
                    <br>
                    <button id="show-resume" class="btn primary-button">Show resume</button>
                    <iframe id="resume-frame" width="700" height="800" src="<%= profile.resume %>"></iframe>
                <% } %>
            </div>
            <br>

            <% if(fromApplicants) { %>
                <div class="login-signup-input" style="font-size:17px;font-weight: bold;"> <br>
                    <% if(user.application_date){ %>
                        <p>Applied on <%= user.application_date.toLocaleDateString() %></p>
                    <% } else { %>
                        <p> Date for this application was not recorded</p>
                    <% } %>
                    <br>
                </div>
            <% } %>

            <!-- pl checkboxes -->
            <div class="login-signup-input row">
                <p style="font-size:17px;">What programming languages are you familiar with?</p>
                <% var pl = (profile.pl ? eval("("+profile.pl+")") : {}) %>
                <% plskill.forEach(function(skill) { %>
                <div class="pl-group skill-group col-md-6">
                    <input <%= others ? 'disabled' : '' %> type="checkbox" value="<%= skill %>" id="<%= skill %>"
                        <%= pl.hasOwnProperty(skill) ? 'checked' : '' %> >
                    <label for="<%= skill %>"> <%= skill %> </label>
                    <input type="range" min="0" max="5" value="<%= pl[skill] %>" class="slider"> <br>
                </div>
                <% }) %>
            </div>

            <!-- dev checkboxes -->
            <div class="login-signup-input row">
                <p style="font-size:17px;">What kinds of development are you familiar with?</p>
                <% var dev = (profile.dev ? eval("("+profile.dev+")") : {}) %>
                <% devskill.forEach(function(skill) { %>
                <div class="dev-group skill-group col-md-6">
                    <input <%= others ? 'disabled' : '' %> type="checkbox" value="<%= skill %>" id="<%= skill %>"
                        <%= dev.hasOwnProperty(skill) ? 'checked' : '' %> >
                    <label for="<%= skill %>"> <%= skill %> </label>
                    <input type="range" min="0" max="5" value="<%= dev[skill] %>" class="slider">
                </div>
                <% }) %>
            </div>

            <div class="login-signup-input">
                <label style="font-size:15px;" for="intro"> What else do you like to share with us?</label>
                <% if(!fromApplicants) { %>
                    <textarea class="form-control" <%= others ? 'disabled' : '' %> id="intro" 
                        placeholder="Any fun fact? expectation?" rows="4" cols="50"><%=profile ? profile.description : ''%></textarea>
                <% } else { %>
                    <p> <%=profile ? profile.description : ''%> </p>
                <% } %>
            </div>

            <% if(applying||fromApplicants) { %>
                <div class="login-signup-input">
                    <label style="font-size:15px;" for="time_for_project"> Roughly how many hours a week
                        will you be able to commit for the project this semester?</label>
                    <input id="time_for_project" class="form-control" type="number"
                        value="<%= user?user.time_for_project:'' %>" <%= others ? 'disabled' : '' %> placeholder="" /> <br>
                </div>

                <div class="login-signup-input">
                    <label style="font-size:15px;" for="reason"> Why do you want to join this team?</label>
                    <% if(!fromApplicants) { %>
                        <textarea id="reason" type="text" placeholder="" class="form-control" rows="5"><%= user? user.reason :''%></textarea>
                    <% } else { %>
                        <p><%= user? user.reason :''%></p>
                    <% } %>
                </div>

                <div class="login-signup-input" >
                    <label style="font-size:15px;" for="interests">What role or tasks are your interests?</label>
                    <% if(!fromApplicants) { %>
                        <textarea id="interests" type="text" class="form-control" rows="1" placeholder=""><%= user? user.interests :''%></textarea>
                    <% } else { %>
                        <p><%= user? user.interests :''%></p>
                    <% } %>
                </div>

                <div class="login-signup-input" >
                    <label for="active_participation" style="font-size:15px;">What would you do to be an active team member?</label>
                    <% if(!fromApplicants) { %>
                        <textarea id="active_participation" type="text" placeholder="" class="form-control" rows="3"><%= user? user.active_participation :''%></textarea>
                    <% } else { %>
                        <p><%= user? user.active_participation :''%></p>
                    <% } %>
                </div>

                <div class="login-signup-input" >
                    <label style="font-size:15px;" for="contribution">What can you bring to this team, technical or otherwise? (Optional) </label>
                    <% if(!fromApplicants) { %>
                        <textarea id="contribution" type="text" placeholder="" class="form-control" rows="5"><%= user ? user.contribution : ''%></textarea>
                    <% } else { %>
                        <p><%= user ? user.contribution : 'No Answer'%></p>
                    <% } %>
                </div>

                <div class="login-signup-input">
                    <p>When developing softwares in team, there has to be a team leader who directs the
                        development.</p>
                    <input class="form-check-input" <%=others ? 'disabled' : '' %> type="checkbox"
                    id="teamleader" <%= user&&user.intended_teamleader ? 'checked' : '' %> > 
                    <label for="teamleader">Check this box if you want to be the team leader</label>
                </div>
            <% } %>
        </div>

        <p class="error-msg" id="error-msg"> </p>
        <% if (!others) { %>
            <button id="submit-button" class="btn long-btn primary-button">
            <% if(!applying) { %>
                Update Profile
            <% } else { %>
                Submit
            <% } %>
            </button>
        <% } %>

        <% if (fromApplicants&&others&&project_id&&canApprove) { %>
            <button id="confirmation" class="btn mid-btn primary-button">Approve</button>
            <button id="rejectConfirmation" class="btn mid-btn primary-button">Reject</button>
            
            <div id="confirmation-box" class="modal fade confirmation-box">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                            <p class="modal-title"> <span id="box-info-title"> </span>&nbsp;Confirmation
                            </p>
                        </div>
                        <div class="modal-body">
                            <h4>Are you sure you want to <span id="box-info-text"> </span>?</h4>
                        </div>
                        <div class="modal-footer">
                            <button id="confirmed" class="btn highPriority-button">Yes</button>
                            <button id="canceled" class="btn primary-button">No</button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

    </div>
    <% include ../template/footer.ejs %>
</body>

</html>