<!doctype html>
<html>

<head>
    <% include ../template/head.ejs %>
        <script>
            let eventDetail = <%-JSON.stringify(eventDetail)%>;
            $(function() {
                // editable select event type
                $("#event_type").editableSelect({effects: 'slide'});
                $("#event_type").click(function(){
                    $("#event_type").val("");
                    $("#event_type").trigger("change");
                });
                // set up handlers
                $("#remove-confirmation").click(function () {
                    let title = 'Remove Confirmation';
                    let msg = 'Are you sure you want to permanently remove this event?';
                    show_modal(title, msg, function () {
                        $("#modal-todo").attr('disabled', true);
                        $.ajax({
                            url: "/event/removeEvent",
                            method: "POST",
                            dataType: "json",
                            data: {
                                event_id: eventDetail.id,
                            },
                            success: function () {
                                window.location.href="/event?status=s";
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                $("#error-msg").html(jqXHR.responseJSON);
                                $("#modal-confirmation-box").modal('hide');
                                $("#remove-confirmed").attr('disabled', false);
                            }
                        });
                    });
                });
                $('#cancel-confirmation').click(function () {
                    let title = 'Cancel Confirmation';
                    let msg = 'Ary you sure you want to cancel the event?';
                    show_modal(title, msg, function () {
                        $("#modal-todo").attr('disabled', true);
                        $.ajax({
                            url: "/event/changeEventStatus",
                            method: "POST",
                            dataType: "json",
                            data: {
                                event_id: eventDetail.id,
                                new_status_code: EventStatus.Cancelled,
                            },
                            success: function () {
                                const window_location = window.location.href;
                                const success_flag = '&status=s';
                                window.location.href = window_location.endsWith(success_flag) ? window_location : window_location + success_flag;
                                $("#modal-confirmation-box").modal('hide');
                                $("#remove-confirmed").attr('disabled', false);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                $("#error-msg").html(jqXHR.responseJSON);
                                $("#modal-confirmation-box").modal('hide');
                                $("#remove-confirmed").attr('disabled', false);
                            }
                        });
                    });
                });
                $('#uncancel-confirmation').click(function () {
                    $.ajax({
                        url: "/event/changeEventStatus",
                        method: "POST",
                        dataType: "json",
                        data: {
                            event_id: eventDetail.id,
                            new_status_code: EventStatus.Active,
                        },
                        success: function () {
                            const window_location = window.location.href;
                            const success_flag = '&status=s';
                            window.location.href = window_location.endsWith(success_flag) ? window_location : window_location + success_flag;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#error-msg").html(jqXHR.responseJSON);
                        }
                    });
                });
                $("#modal-canceled").click(function(){
                    $("#modal-confirmation-box").modal('hide');
                });
                $("#save-button").click(function() {
                    if (($("#title").val() == '') | ($("#location").val() == '') | ($("#event_type").val() == '') | ($("#description").val() == '')) {
                        $("#error-msg").html('Please fill out all required fields (*)');
                        $(".required-star").removeAttr('hidden');
                        return;
                    }
                    if ($("#time").val() == ''){
                        $("#error-msg").html('Time should be selected, or typed in format of YYYY-MM-DDTHH:MM (EX: 2020-12-30T23:55)');
                        $("#time").removeAttr('hidden');
                        return;
                    }
                    if (($("#image").val() != '') && !validateURL($("#image").val())) {
                        $("#error-msg").html('Invalid Image URL');
                        return;
                    }
                    if (($("#link").val() != '') && !validateURL($("#link").val())) {
                        $("#error-msg").html('Invalid Link');
                        return;
                    }
                    $("#error-msg").html("");
                    $("#submit-button").attr('disabled', true);
                    $.ajax({
                        url: "/event/saveEvent",
                        method: "POST",
                        dataType: "json",
                        data: {
                            id: eventDetail.id,

                            event_time: $("#time").val(),
                            title: $("#title").val(),
                            location: $("#location").val(),
                            image: $("#image").val(),
                            description: $("#description").val(),
                            link: $("#link").val(),
                            type: $("#event_type").val()
                        },
                        success: function() {
                            window.location.href = "/event?status=s";
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#error-msg").html(jqXHR.responseJSON);
                            $("#save-button").attr('disabled', false);
                        }
                    });
                });
            });
        </script>
</head>

<body>
<% include ../template/nav.ejs %>
<div class="container body-layout">
    <div class="row">
        <div align="right">
            <% if (eventDetail.status === 0) { %>
                <button id="cancel-confirmation" class="btn primary-button">Cancel Event</button>
            <% } %>
            <% if (eventDetail.status === 1) { %>
                <button id="uncancel-confirmation" class="btn primary-button">Un-cancel Event</button>
            <% } %>
            <button id="remove-confirmation" class="btn primary-button">Remove Event</button>
            <a class="btn primary-button" href="/event">Back</a>
        </div>
    </div>
    <div class="row">
        <p class="error-msg" id="error-msg"></p>
        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Title&nbsp;<span class="required-star" hidden>*</span></div>
            <input class="form-control" type="text" id="title" placeholder="Event Title" value="<%= eventDetail.title %>">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Time&nbsp;<span class="required-star" hidden>*</span></div>
            <%let the_date = eventDetail.event_time.getFullYear() + "-" + ("0" + (eventDetail.event_time.getMonth() + 1)).slice(-2) + "-" + ("0" + eventDetail.event_time.getDate()).slice(-2) + "T" + ("0" + eventDetail.event_time.getHours()).slice(-2) + ":" + ("0" + eventDetail.event_time.getMinutes()).slice(-2)%>
            <input class="form-control" type="datetime-local" id="time" value="<%= the_date %>">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Location&nbsp;<span class="required-star" hidden>*</span></div>
            <input class="form-control" type="text" id="location" placeholder="Event Location" value="<%= eventDetail.location %>">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Image Url: &nbsp;</div>
            <input class="form-control" type="text" id="image" placeholder="Event Image Url" value="<%= eventDetail.image %>">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Link: &nbsp;</div>
            <input class="form-control" type="text" id="link" placeholder="Event Link" value="<%= eventDetail.link %>">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Type&nbsp;<span class="required-star" hidden>*</span></div>
            <select class="form-control" id="event_type" placeholder="Input For Other Types">
                <%
                let set = new Set();
                set.add("Workshop");
                set.add("Kickoff");
                set.add("Group meeting");
                set.add(eventDetail.type);
                %>
                <% for (let type of set) { %>
                    <option <% if (eventDetail.type === type) { %> selected <% } %>><%=type%></option>
                <% } %>
            </select>
        </div>

        <div class="new-project-input">
            <textarea class="form-control" type="text" id="description" placeholder="Event Description" rows="5" maxlength="300" style="resize: none;"><%=eventDetail.description%></textarea>
        </div>

        <button id="save-button" type="button" class="btn long-btn primary-button">Save!</button>
    </div>
</div>


<% include ../template/footer.ejs %>
<script src="../js/modal.js"></script>
</body>

</html>